<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarlenga Propiedades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/alquiler_detail.css">
</head>

<body>
    <header>
        <div class="navbar_container">
            <h3 class="navbar_logo">Z</h3>
            <ul class="navbar_list">
                <li class="navbar_items"></li><a href="#">inicio</a>
                <li class="navbar_items"></li><a href="alquiler">alquileres</a>
                <li class="navbar_items"></li><a href="#">venta</a>
                <li class="navbar_items"></li><a href="#">tazar</a>
                <li class="navbar_items"></li><a href="#">contacto</a>
            </ul>
        </div>
    </header>
    <main>
        <img src="img/paraProyecto.jpg">
        <div class="filter_container">
            <ul class="filter_list">
                <li class="filter_items">Zona</li>
                <li class="filter_items">Ambiente</li>
                <li class="filter_items">Características</li>
                <li class="filter_items">Precio</li>
            </ul>
        </div>
        <div class="detail_container">
            <ul>
                <img src="img/paraProyecto.jpg">
                <img src="img/paraProyecto.jpg">
                <li><img src="img/paraProyecto.jpg"></li>
                <li><img src="img/paraProyecto.jpg"></li>
                <li><img src="img/paraProyecto.jpg"></li>
                <li><img src="img/paraProyecto.jpg"></li>
                <li><img src="img/paraProyecto.jpg"></li>
            </ul>
        </div>
    </main>