<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarlenga Propiedades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <section class="cajaHeader">
            <div class="cajaHeaderPosition">
                <h1 class="logoTitle">Zarlenga Propiedades</h1>
            </div>
            <div class="cajaHeaderPosition">
                <ul class=cajaLista>
                    <li><a class="estiloLista" href="#">Inicio</a></li>
                    <li><a class="estiloLista" href="">Quiénes Somos</a></li>
                    <li><a class="estiloLista" href="">Alquileres</a></li>
                    <li><a class="estiloLista" href="">Terrenos</a></li>
                    <li><a class="estiloLista" href="">Deco</a></li>
                    <li><a class="estiloLista" href="">Contacto</a></li>
                </ul>
            </div>
            <div class="cajaHeaderPosition">
                <input class="navbar" placeholder="Buscar">
                <button class="navbar" type="button">Buscar</button>
            </div>
        </section>
    </header>
    <main>
        <h2> Alquileres Destacados</h2>
        <section class="sectionAlq">

            <div class="cajaAlquiler">
                <img class="imagenes" src="img/paraProyecto.jpg">
                <h2 class="advert">Av. Las Heras (Super Luminoso)</h2>
                <p class="textAdvert"><strong>Excelente ubicación</strong> sobre <mark>Av. Las Heras</mark>a esquina
                    <b>Sanchez
                        de Bustamante</b>, próximo a todo tipo de medios de transporte público como así también a una
                    cuadra
                    de
                    Av. Del Libertador.
                    Edificio muy bien conservado, con 2 ascensores principales y uno de servicio.
                    Piso alto, muy luminoso, todo externo al lateral.
                    Hall acceso, cocina con lavadero incorporado sobre bajo mesada, mesada de granito negro , muchas
                    alacenas y
                    muebles de cocina.
                    Living comedor de 5.00 x 3.00 con espacio para escritorio, 2 amplios dormitorios con mucho placard..
                    Servicios individuales, calefón en cocina y estufas tiro balanceado en living y dormitorio. Aire
                    acondicionado en L-comedo
                </p>
            </div>
            <div class="cajaAlquiler">
                <img class="imagenes" src="img/paraProyecto.jpg">
                <h2 class="advert">Av. Las Heras (Super Luminoso)</h2>
                <p class="textAdvert"><strong>Excelente ubicación</strong> sobre <mark>Av. Las Heras</mark>a esquina
                    <b>Sanchez
                        de Bustamante</b>, próximo a todo tipo de medios de transporte público como así también a una
                    cuadra
                    de
                    Av. Del Libertador.
                    Edificio muy bien conservado, con 2 ascensores principales y uno de servicio.
                    Piso alto, muy luminoso, todo externo al lateral.
                    Hall acceso, cocina con lavadero incorporado sobre bajo mesada, mesada de granito negro , muchas
                    alacenas y
                    muebles de cocina.
                    Living comedor de 5.00 x 3.00 con espacio para escritorio, 2 amplios dormitorios con mucho placard..
                    Servicios individuales, calefón en cocina y estufas tiro balanceado en living y dormitorio. Aire
                    acondicionado en L-comedo
                </p>
            </div>
            <div class="cajaAlquiler">
                <img class="imagenes" src="img/paraProyecto.jpg">
                <h2 class="advert">Av. Las Heras (Super Luminoso)</h2>
                <p class="textAdvert"><strong>Excelente ubicación</strong> sobre <mark>Av. Las Heras</mark>a esquina
                    <b>Sanchez
                        de Bustamante</b>, próximo a todo tipo de medios de transporte público como así también a una
                    cuadra
                    de
                    Av. Del Libertador.
                    Edificio muy bien conservado, con 2 ascensores principales y uno de servicio.
                    Piso alto, muy luminoso, todo externo al lateral.
                    Hall acceso, cocina con lavadero incorporado sobre bajo mesada, mesada de granito negro , muchas
                    alacenas y
                    muebles de cocina.
                    Living comedor de 5.00 x 3.00 con espacio para escritorio, 2 amplios dormitorios con mucho placard..
                    Servicios individuales, calefón en cocina y estufas tiro balanceado en living y dormitorio. Aire
                    acondicionado en L-comedo
                </p>
            </div>

        </section>
        <section class="sectionTasa">
            <h2> ¿Queres Tasar tu inmuebinmueble? </h2>
            <button class="tasa" type="button">ir</button>
        </section>
        <h2> Terrenos Destacados</h2>
        <section class="sectionTerreno">
            <div class="cajaTerreno">
                <img>
                <h3 class="sectionTitle">Terrenos Destacados</h3>
                <h2 class="advert">Av. Las Heras (Super Luminoso)</h2>
                <p class="textAdvert"><strong>Excelente ubicación</strong> sobre <mark>Av. Las Heras</mark>a esquina
                    <b>Sanchez
                        de Bustamante</b>, próximo a todo tipo de medios de transporte público como así también a una
                    cuadra
                    de
                    Av. Del Libertador.
                    Edificio muy bien conservado, con 2 ascensores principales y uno de servicio.
                    Piso alto, muy luminoso, todo externo al lateral.
                    Hall acceso, cocina con lavadero incorporado sobre bajo mesada, mesada de granito negro , muchas
                    alacenas y
                    muebles de cocina.
                    Living comedor de 5.00 x 3.00 con espacio para escritorio, 2 amplios dormitorios con mucho placard..
                    Servicios individuales, calefón en cocina y estufas tiro balanceado en living y dormitorio. Aire
                    acondicionado en L-comedo
                </p>
            </div>
            <div class="cajaTerreno">
                <img>
                <h3 class="sectionTitle">Terrenos Destacados</h3>
                <h2 class="advert">Av. Las Heras (Super Luminoso)</h2>
                <p class="textAdvert"><strong>Excelente ubicación</strong> sobre <mark>Av. Las Heras</mark>a esquina
                    <b>Sanchez
                        de Bustamante</b>, próximo a todo tipo de medios de transporte público como así también a una
                    cuadra
                    de
                    Av. Del Libertador.
                    Edificio muy bien conservado, con 2 ascensores principales y uno de servicio.
                    Piso alto, muy luminoso, todo externo al lateral.
                    Hall acceso, cocina con lavadero incorporado sobre bajo mesada, mesada de granito negro , muchas
                    alacenas y
                    muebles de cocina.
                    Living comedor de 5.00 x 3.00 con espacio para escritorio, 2 amplios dormitorios con mucho placard..
                    Servicios individuales, calefón en cocina y estufas tiro balanceado en living y dormitorio. Aire
                    acondicionado en L-comedo
                </p>
            </div>
        </section>
    </main>
    <footer>
        <h2>Contacto</h2>
        <div class="information">
            <ul>
                <li>jbxijdbcdi</li>
                <li>jbxijdbcdi</li>
                <li>jbxijdbcdi</li>
            </ul>
        </div>
    </footer>

</body>

</html>