<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarlenga Propiedades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <div class="navbar_container">
            <h3 class="navbar_logo">Z</h3>
            <ul class="navbar_list">
                <li class="navbar_items"></li><a href="#">inicio</a>
                <li class="navbar_items"></li><a href="alquiler">alquileres</a>
                <li class="navbar_items"></li><a href="#">venta</a>
                <li class="navbar_items"></li><a href="#">tazar</a>
                <li class="navbar_items"></li><a href="#">contacto</a>
            </ul>
        </div>
        <h1 class="title">Zarlenga Propiedades</h1>
        <nav class="main_navbar">
            <ul>
                <li><a href="#main_page">inicio</a></li>
                <li><a href="#page-1">alquileres</a></li>
                <li><a href="#page-2">venta</a></li>
                <li><a href="#page-3">tazar</a></li>
                <li><a href="#page-4">contacto</a></li>
            </ul>
        </nav>
    </header>
    <img class="banner" src="img/paraProyecto.jpg">
    <main class="main_wrapper">
        <scroll-container>
        <section class="sectionAlq">
            <scroll-page id="page-1"></scroll-page>
            <h2 class="title__destacados">Alquileres</h2>
            <h2 class="title__destacados">Destacados</h2>
            <h3>
                Busca segun tu nececidad en
                las siguientes características
            </h3>
            <ul class="bloqueAlquiler">
                <li class="bloqueAlquiler__items"><a>Zona</a></li>
                <li class="bloqueAlquiler__items"><a>Ambientes</a></li>
                <li class="bloqueAlquiler__items"><a>Características</a></li>
                <li class="bloqueAlquiler__items"><a>Precio</a></li>
            </ul>
        </section>
    </scroll-container>
        <section>
            <scroll-container>
                <scroll-page id="page-2"></scroll-page>
            <div class="bloqueTaza">
                <h2>¿Queres conocer el valor</h2>
                <h2>real de tu vivienda?</h2>
                <p>Contactanos para obtener una tasación precisa y justa
                    Descubrí cómo podemos ayudarte a maximizar el valor de tu propiedad
                </p>
                <div class="form_input">
                    <textarea placeholder="Escribí una breve descripción...  "></textarea>
                </div>
                <button>Enviar</button>
            </div>
        </scroll-container>
        </section>
        <section>
            <div class="seccionVneta">
                <h2 class="title__destacados">EN VENTA</h2>
                <ul class="bloqueVenta">
                    <li class="bloqueVenta__items"><a>Departamentos</a></li>
                    <li class="bloqueVenta__items"><a>Locales</a></li>
                    <li class="bloqueVenta__items"><a>Terrenos</a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_container">
            <h2>Contacto</h2>
            <ul class="footer_list">
                <li class="footer_items"><a href="#">Cel: 11 4408-0444</a></li>
                <div>-</div>
                <li class="footer_items"><a href="#">Dirección: Salguero 1253</a></li>
                <div>-</div>
                <li class="footer_items"><a href="#">Mail: aszarlenga@hotmail.com</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>